@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('gusta/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
 /*Abaixo as cores criada por Gusta  */
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
/* Abaixo temos as fontes criadas por Gusta */
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}

nav {
        background-color: var(--cor5);
        padding: 10px;
        box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.195);
}

nav > a {
    color: rgb(239, 255, 243);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav a:hover {
    background-color: white;
    color: var(--cor5);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
}

header > p {
    color: white;
}



img {
    width: 100%;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.719);
    border-radius: 0px 0px 30px 30px;
}

header {
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    width: 300px;
    margin: auto;
    text-align: center;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.8em;
}

main h2 {

    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1),transparent);
}

main > img {
    width: 100%;
    margin-bottom: 10px;
}

main > img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

div.video {
    background: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(0, 0, 0, 0.581);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}

aside > ul {
    list-style-type: '\1F47E\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}


article > p {
    margin-bottom: 10px;
}

footer {
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}


